################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AXenqueue/.vs
/D365_ImportDataPackageAPI/.vs
/D365_ImportDataPackageAPI/D365_ImportDataPackageAPI/bin/Debug/staging/D365_ImportDataPackageAPI
/D365_ImportDataPackageAPI/D365_ImportDataPackageAPI/obj/Debug
/ZipFileFunction/.vs/ZipFileFunction
/ZipFileFunction/ZipFileFunction/Properties/PublishProfiles
/ZipFileFunction/ZipFileFunction/.gitignore
/ZipFileFunction/ZipFileFunction/bin/Debug/net461/bin/de
/ZipFileFunction/ZipFileFunction/bin/Debug/net461/bin/es
/ZipFileFunction/ZipFileFunction/bin/Debug/net461/bin/it
/ZipFileFunction/ZipFileFunction/bin/Debug/net461/bin/fr
/ZipFileFunction/ZipFileFunction/bin/Debug/net461/bin/ja
/ZipFileFunction/ZipFileFunction/bin/Debug/net461/bin/ko
/ZipFileFunction/ZipFileFunction/bin/Debug/net461/bin/ru
/ZipFileFunction/ZipFileFunction/bin/Debug/net461/bin/zh-Hans
/ZipFileFunction/ZipFileFunction/bin/Debug/net461/bin/zh-Hant
/ZipFileFunction/ZipFileFunction/bin/Debug/net461/bin/ZipFileFunction.pdb
/ZipFileFunction/ZipFileFunction/bin/Debug/net461/bin/ZipFileFunction.dll
/ZipFileFunction/ZipFileFunction/bin/Debug/net461/bin/System.Xml.ReaderWriter.dll
/ZipFileFunction/ZipFileFunction/bin/Debug/net461/bin/System.Web.Http.dll
/ZipFileFunction/ZipFileFunction/bin/Debug/net461/bin/System.ValueTuple.dll
/ZipFileFunction/ZipFileFunction/bin/Debug/net461/bin/System.Threading.Tasks.Dataflow.dll
/ZipFileFunction/ZipFileFunction/bin/Debug/net461/bin/System.Spatial.dll
/ZipFileFunction/ZipFileFunction/bin/Debug/net461/bin/System.Security.Cryptography.X509Certificates.dll
/ZipFileFunction/ZipFileFunction/bin/Debug/net461/bin/System.Security.Cryptography.Primitives.dll
/ZipFileFunction/ZipFileFunction/bin/Debug/net461/bin/System.Security.Cryptography.Encoding.dll
/ZipFileFunction/ZipFileFunction/bin/Debug/net461/bin/System.Security.Cryptography.Algorithms.dll
/ZipFileFunction/ZipFileFunction/bin/Debug/net461/bin/System.Runtime.InteropServices.RuntimeInformation.dll
/ZipFileFunction/ZipFileFunction/bin/Debug/net461/bin/System.Net.Sockets.dll
/ZipFileFunction/ZipFileFunction/bin/Debug/net461/bin/System.Net.Http.Formatting.dll
/ZipFileFunction/ZipFileFunction/bin/Debug/net461/bin/System.Net.Http.dll
/ZipFileFunction/ZipFileFunction/bin/Debug/net461/bin/System.IO.FileSystem.Primitives.dll
/ZipFileFunction/ZipFileFunction/bin/Debug/net461/bin/System.IO.FileSystem.dll
/ZipFileFunction/ZipFileFunction/bin/Debug/net461/bin/System.IO.Compression.ZipFile.dll
/ZipFileFunction/ZipFileFunction/bin/Debug/net461/bin/System.IO.Compression.dll
/ZipFileFunction/ZipFileFunction/bin/Debug/net461/bin/System.Globalization.Calendars.dll
/ZipFileFunction/ZipFileFunction/bin/Debug/net461/bin/System.Diagnostics.DiagnosticSource.dll
/ZipFileFunction/ZipFileFunction/bin/Debug/net461/bin/System.Console.dll
/ZipFileFunction/ZipFileFunction/bin/Debug/net461/bin/System.AppContext.dll
/ZipFileFunction/ZipFileFunction/bin/Debug/net461/bin/Newtonsoft.Json.dll
/ZipFileFunction/ZipFileFunction/bin/Debug/net461/bin/NCrontab.dll
/ZipFileFunction/ZipFileFunction/bin/Debug/net461/bin/Microsoft.WindowsAzure.Storage.dll
/ZipFileFunction/ZipFileFunction/bin/Debug/net461/bin/Microsoft.Win32.Primitives.dll
/ZipFileFunction/ZipFileFunction/bin/Debug/net461/bin/Microsoft.Extensions.Logging.Abstractions.dll
/ZipFileFunction/ZipFileFunction/bin/Debug/net461/bin/Microsoft.Data.Services.Client.dll
/ZipFileFunction/ZipFileFunction/bin/Debug/net461/bin/Microsoft.Data.OData.dll
/ZipFileFunction/ZipFileFunction/bin/Debug/net461/bin/Microsoft.Data.Edm.dll
/ZipFileFunction/ZipFileFunction/bin/Debug/net461/bin/Microsoft.Azure.WebJobs.Host.dll
/ZipFileFunction/ZipFileFunction/bin/Debug/net461/bin/Microsoft.Azure.WebJobs.Extensions.Http.dll
/ZipFileFunction/ZipFileFunction/bin/Debug/net461/bin/Microsoft.Azure.WebJobs.Extensions.dll
/ZipFileFunction/ZipFileFunction/bin/Debug/net461/bin/Microsoft.Azure.WebJobs.dll
/ZipFileFunction/ZipFileFunction/bin/Debug/net461/bin/Microsoft.Azure.KeyVault.Core.dll
/ZipFileFunction/ZipFileFunction/bin/Debug/net461
/ZipFileFunction/ZipFileFunction/bin/Release/net461
/ZipFileFunction/ZipFileFunction/obj
/ZipFileFunction/ZipFileFunction/ZipFileFunction.csproj.user
